<div class = "container">
  <div class="row">
    <div class="text-center">
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Name:</strong>
        <%= @cocktail.name %>
        <% @cocktail.ingredients.each do |ingredient| %>
        <%= ingredient.name %>
        <% end %>
        <% @cocktail.doses.each do |dose| %>
        <%= dose.description %>
        <% end %>

      </p>

      <%= link_to 'Back', cocktails_path %>

    </div>
  </div>
</div>