<div class = "container">
  <div class="row">
    <div class="text-center">
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Name:</strong>
        <%= @cocktail.name %>
        <% @cocktail.ingredients.each do |ingredient| %>
        <%= ingredient.name %>
        <% end %>
        <% @cocktail.doses.each do |dose| %>
        <p><%= dose.description %></p>
        <%= link_to "delete", dose_path(:id => dose),
                                :controller => :doses,
                                :action => 'destroy',
                                :method => :delete %>
        <% end %>

      </p>
      <p><%= link_to 'Add an ingredient', new_cocktail_dose_path(@cocktail) %></p>
      <p><%= link_to 'Back to all Cocktails', cocktails_path %></p>
      <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
    </div>
  </div>
</div>