<!DOCTYPE html>
<html>
  <head>
    <title>Cocktail Mixer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <div class="navbar-wagon">
  <!-- Logo -->
  <div class="navbar-wagon-right">
    <h3>
    <%= link_to('Cocktail Mixer', cocktails_path) %>
    </h3>
  </div>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
  <div class = "btn btn-success button col-md-6"><%= link_to('Add new', new_cocktail_path) %></div>
  </div>
  </div>
    <%= yield %>
  </body>
</html>
